body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #111a20;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
}

.container {
  background: #e6eef5;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  text-align: center;
}

.logo {
  width: 500px;
  margin-bottom: 10px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #0077ff;
  color: white;
}

button:hover {
  background: #005fcc;
}

#message {
  margin-top: 10px;
  color: red;
}
